.input {
    @apply relative block w-full pb-2;
    label {
        @apply inline-block mb-2;
        font-weight: 600;
    }
    input[type=color], input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
        @apply block w-full px-2 mb-2 leading-tight border border-solid rounded-sm;
        padding-top: .4rem;
        padding-bottom: .4rem;
        border-color: config('colors.grey-light');
        -webkit-appearance: none;
        transition: all 200ms ease;
        &:focus {
            @apply outline-none shadow-outline;
            border-color: rgba(30, 161, 242, 0.5);
        }
        &:disabled {
            @apply pointer-events-none opacity-50;
            background: #f1f1f1;
        }
    }
    textarea {
        @apply block w-full px-2 mb-2 leading-tight border border-solid rounded-sm;
        padding-top: .4rem;
        padding-bottom: .4rem;
        border-color: config('colors.grey-light');
        -webkit-appearance: none;
        min-height: 100px;
        transition: box-shadow 200ms ease;
        &:focus {
            @apply outline-none shadow-outline;
            border-color: rgba(30, 161, 242, 0.5);
        }
        &:disabled {
            @apply pointer-events-none opacity-50;
            background: #f1f1f1;
        }
    }
    .input-error {
        @apply block;
        font-size: 0.8rem;
        color: #a10000;
    }
    .input-help {
        @apply block text-right;
        font-size: 0.8rem;
        color: config('colors.grey-dark');
    }
}
