.navbar {
    @apply bg-white shadow-navbar py-2 px-4;
    &.navbar-fixed {
        @apply fixed pin-t pin-l pin-r z-30;
    }
    .navbar-main {
        @apply relative flex flex-col flex-wrap items-center justify-between;
        @screen sm {
            @apply flex-row;
        }
        .navbar-brand {
            @apply inline-block text-xl font-bold leading-normal whitespace-no-wrap;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            > a {
                @apply no-underline;
            }
        }
        .navbar-menu {
            @apply flex flex-row items-center pl-0 mb-0 list-reset;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            li {
                @apply relative ml-4;
                &:nth-child(1) {
                    @apply ml-0;
                }
                .text-md {
                    @apply hidden;
                    @screen md {
                        @apply inline-block;
                    }
                }
            }
        }
    }
}
