.notifications {
    bottom: 1rem !important;
    right: 1rem !important;
    width: auto !important;
    max-width: 270px !important;
    @screen sm {
        max-width: 320px !important;
    }
}
.notification {
    @apply justify-between content-start px-4 py-4 m-2 rounded-sm;
    display: flex !important;
    background: config('colors.black') !important;
    color: config('colors.white');
    box-shadow: 0 0px 8px black !important;
    .close {
        @apply ml-4 cursor-pointer;
        &:hover, &:focus {
            @apply ml-4 cursor-pointer opacity-50;
        }
    }
}
