.star {
    margin-bottom: 3rem;
    a {
        @apply no-underline;
    }
    .star-card {
        @apply flex flex-wrap items-center shadow-md rounded p-5 mb-5 w-full text-center;
        transform: scale(1);
        outline: 1px dashed rgba(255, 255, 255, 0.6);
        outline-offset: -3px;
        transition: all 300ms ease;
        @screen md {
            @apply text-left;
        }
        &.larastrator {
            background: linear-gradient( 135deg, lighten(#FD6585, 10%) 10%, #FD6585 100%);
        }
        &.codolog {
            background: linear-gradient( 135deg, lighten(#0396FF, 10%) 10%, #0396FF 100%);
        }
        .star-card-img {
            @apply w-full mb-3;
            @screen md {
                @apply w-1/4 mb-0;
            }
            img {
                transition: all 300ms ease;
                transform: rotate(0deg);
                height: 7rem;
            }
        }
        .star-card-text {
            @apply w-full text-white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            @screen md {
                @apply w-3/4;
            }
            h3 {
                @apply text-2xl mb-2;
            }
            .star-card-sub {
                @apply text-lg mb-2 italic;
            }
            p {
                @apply leading-normal;
            }
        }
        &:hover {
            @apply shadow;
            transform: scale(.985);
            img {
                height: 7rem;
                transform: rotate(180deg);
            }
        }
    }
}